<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">



<xacro:macro name="wheel" params="wheel_name">

    <xacro:property name="wheel_width" value="0.0206"/>
    <xacro:property name="wheel_radius" value="0.0352"/>

    <link name="${wheel_name}">   
        <visual>
        <origin rpy="0 1.5707 1.5707" xyz="0 0 0"/>
        <geometry>
            <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
        </geometry>
        <material name="black"/>
        </visual>

    <inertial>
        <mass value="0.01"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="0.000003451" ixy="0" ixz="0" iyy="0.000003451" iyz="0" izz="0.000006195"/>
    </inertial>

    <collision>
        <origin rpy="0 1.5707 1.5707" xyz="0 0 0"/>
        <geometry>
            <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
        </geometry>
    </collision>

    </link>

</xacro:macro>
    
</robot>   